.button-mobile {
    width: 160px;
    height: 44px;
    // margin: 0 auto;   
    transform: scale(1);
    color: var(--colorText-primary);
    background-color: var(--colorText-secondary);
    transition: transform var(--default-transition),
    background-color var(--default-transition);
    @include media-min (768px) {
        display: none;
    }
    &:hover,
    &:focus {
        transform: scale(1.1);
        background-color: var(--bgc-btnHover);
    }
}

.button-container {
    display: block;
}
 