<section class="about-section" id="about">
    <div class="about-container container">
        <p class="about-section__lable">Adhering to the Finest Traditions</p>
        <h2 class="about-section__title">how it’s made?</h2>

        <div class="about-content">
            <picture class="about-picture">
                <img src="images/about/coffee-beans.png" alt="cow and milk">
            </picture>

            <div class="about-text">
                <p class="about-text__pre-info">
                    In our coffee shop, we strive for the highest standard of quality and traditions in coffee production. 
                    Each coffee bean represents a unique experience that we offer to our customers.
                </p>
                <p class="about-text__info">
                    At the initial stage, we select only the finest coffee bean varieties. 
                    Our roasting facility employs cutting-edge technologies to ensure uniformity and intensity of flavor. <br>
                    Our coffee experts carefully craft unique blends by combining different varieties and roasting techniques. 
                    This allows us to create coffee with a distinct taste and aroma.
                </p>
                <button type="button" class="about-button button button-arrow" data-modal-about-open>Read more</button>
            </div>
        </div>
    </div>
</section>