<!--advantages styles-->

<section class="advantages">
  <h2 class="advantages__name visually-hidden">Advantages</h2>

  <ul class="advantages__list container">
    <li class="advantages__item">
      <p class="advantages__title icon">721</p>
      <p class="advantages__text">
        Online orders per month on average
      </p>
    </li>
    <li class="advantages__item">
      <p class="advantages__title apples">1600kg</p>
      <p class="advantages__text">
        Quality coffee beans are sold per month
      </p>
    </li>
    <li class="advantages__item">
      <p class="advantages__title heart">5</p>
      <p class="advantages__text">
        Countries in which we have our stores
      </p>
    </li>
  </ul>
</section>
