<section class="section gallery-section">
    <div class="container gallery-container">
        <h2 class="section-title visually-hidden">Our products</h2>
        <ul class="gallery">
            <li class="gallery__item gallery__item--first">
                <div class="gallery__thumb">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-img1-mobile@1x.webp 1x, ./images/gallery/gallery-img1-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img1-mobile@1x.jpg 1x, ./images/gallery/gallery-img1-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img1-tablet@1x.webp 1x, ./images/gallery/gallery-img1-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img1-tablet@1x.jpg 1x, ./images/gallery/gallery-img1-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img1-desktop@1x.webp 1x, ./images/gallery/gallery-img1-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img1-desktop@1x.jpg 1x, ./images/gallery/gallery-img1-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">

                        <img class="gallery__img" src="./images/gallery/gallery-img1-desktop@1x.jpg" loading="lazy"
                            alt="Green ice cream on stick">
                    </picture>
                </div>
            </li>
            <li class="gallery__item gallery__item--second">
                <div class="gallery__thumb">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-img2-mobile@1x.webp 1x, ./images/gallery/gallery-img2-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img2-mobile@1x.jpg 1x, ./images/gallery/gallery-img2-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img2-tablet@1x.webp 1x, ./images/gallery/gallery-img2-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img2-tablet@1x.jpg 1x, ./images/gallery/gallery-img2-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img2-desktop@1x.webp 1x, ./images/gallery/gallery-img2-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img2-desktop@1x.jpg 1x, ./images/gallery/gallery-img2-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">

                        <img class="gallery__img" src="./images/gallery/gallery-img2-desktop@1x.jpg" loading="lazy"
                            alt="An ice cream in a waffle cone on yelow background">
                    </picture>
                </div>
                <div class="gallery__thumb gallery__item--third">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-img6-mobile@1x.webp 1x, ./images/gallery/gallery-img6-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img6-mobile@1x.jpg 1x, ./images/gallery/gallery-img6-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img6-tablet@1x.webp 1x, ./images/gallery/gallery-img6-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img6-tablet@1x.jpg 1x, ./images/gallery/gallery-img6-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img6-desktop@1x.webp 1x, ./images/gallery/gallery-img6-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img6-desktop@1x.jpg 1x, ./images/gallery/gallery-img6-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">

                        <img class="gallery__img" src="./images/gallery/gallery-img6-desktop@1x.jpg" loading="lazy"
                            alt="Pink ice cream on stick">
                    </picture>
                </div>
            </li>
            <li class="gallery__item gallery__item--third">
                <div class="gallery__thumb gallery__thumb--large">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-img3-mobile@1x.webp 1x, ./images/gallery/gallery-img3-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img3-mobile@1x.jpg 1x, ./images/gallery/gallery-img3-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img3-tablet@1x.webp 1x, ./images/gallery/gallery-img3-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img3-tablet@1x.jpg 1x, ./images/gallery/gallery-img3-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img3-desktop@1x.webp 1x, ./images/gallery/gallery-img3-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img3-desktop@1x.jpg 1x, ./images/gallery/gallery-img3-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">

                        <img class="gallery__img" src="./images/gallery/gallery-img3-desktop@1x.jpg" loading="lazy"
                            alt="Set of ice cream in a waffle cones">
                    </picture>
                </div>
                <div class="gallery__thumb">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-img7-mobile@1x.webp 1x, ./images/gallery/gallery-img7-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img7-mobile@1x.jpg 1x, ./images/gallery/gallery-img7-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img7-tablet@1x.webp 1x, ./images/gallery/gallery-img7-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img7-tablet@1x.jpg 1x, ./images/gallery/gallery-img7-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img7-desktop@1x.webp 1x, ./images/gallery/gallery-img7-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img7-desktop@1x.jpg 1x, ./images/gallery/gallery-img7-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">

                        <img class="gallery__img" src="./images/gallery/gallery-img7-desktop@1x.jpg" loading="lazy"
                            alt="A woman with ice cream in hand">
                    </picture>
                </div>
            </li>
            <li class="gallery__item gallery__item--fourth">
                <div class="gallery__thumb">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-img4-mobile@1x.webp 1x, ./images/gallery/gallery-img4-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img4-mobile@1x.jpg 1x, ./images/gallery/gallery-img4-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img4-tablet@1x.webp 1x, ./images/gallery/gallery-img4-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img4-tablet@1x.jpg 1x, ./images/gallery/gallery-img4-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img4-desktop@1x.webp 1x, ./images/gallery/gallery-img4-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img4-desktop@1x.jpg 1x, ./images/gallery/gallery-img4-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">

                        <img class="gallery__img" src="./images/gallery/gallery-img4-desktop@1x.jpg" loading="lazy"
                            alt="An ice cream in glass bowl">
                    </picture>
                </div>
                <div class="gallery__thumb">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-img8-mobile@1x.webp 1x, ./images/gallery/gallery-img8-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img8-mobile@1x.jpg 1x, ./images/gallery/gallery-img8-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img8-tablet@1x.webp 1x, ./images/gallery/gallery-img8-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img8-tablet@1x.jpg 1x, ./images/gallery/gallery-img8-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img8-desktop@1x.webp 1x, ./images/gallery/gallery-img8-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img8-desktop@1x.jpg 1x, ./images/gallery/gallery-img8-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">

                        <img class="gallery__img" src="./images/gallery/gallery-img8-desktop@1x.jpg" loading="lazy"
                            alt="An ice cream in hand on background of the street">
                    </picture>
                </div>
            </li>
            <li class="gallery__item gallery__item--fifth">
                <div class="gallery__thumb">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-img5-mobile@1x.webp 1x, ./images/gallery/gallery-img5-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img5-mobile@1x.jpg 1x, ./images/gallery/gallery-img5-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img5-tablet@1x.webp 1x, ./images/gallery/gallery-img5-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img5-tablet@1x.jpg 1x, ./images/gallery/gallery-img5-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img5-desktop@1x.webp 1x, ./images/gallery/gallery-img5-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img5-desktop@1x.jpg 1x, ./images/gallery/gallery-img5-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">

                        <img class="gallery__img" src="./images/gallery/gallery-img5-desktop@1x.jpg" loading="lazy"
                            alt="The dog eats ice cream">
                    </picture>
                </div>
                <div class="gallery__thumb">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-img9-mobile@1x.webp 1x, ./images/gallery/gallery-img9-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img9-mobile@1x.jpg 1x, ./images/gallery/gallery-img9-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img9-tablet@1x.webp 1x, ./images/gallery/gallery-img9-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img9-tablet@1x.jpg 1x, ./images/gallery/gallery-img9-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img9-desktop@1x.webp 1x, ./images/gallery/gallery-img9-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img9-desktop@1x.jpg 1x, ./images/gallery/gallery-img9-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">

                        <img class="gallery__img" src="./images/gallery/gallery-img9-desktop@1x.jpg" loading="lazy"
                            alt="A glass of coffe in hand">
                    </picture>
                </div>
            </li>
            <li class="gallery__item gallery__item--sixth">
                <div class="gallery__thumb">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-img10-mobile@1x.webp 1x, ./images/gallery/gallery-img10-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img10-mobile@1x.jpg 1x, ./images/gallery/gallery-img10-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img10-tablet@1x.webp 1x, ./images/gallery/gallery-img10-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img10-tablet@1x.jpg 1x, ./images/gallery/gallery-img10-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">

                        <source
                            srcset="./images/gallery/gallery-img10-desktop@1x.webp 1x, ./images/gallery/gallery-img10-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="./images/gallery/gallery-img10-desktop@1x.jpg 1x, ./images/gallery/gallery-img10-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">

                        <img class="gallery__img" src="./images/gallery/gallery-img10-desktop@1x.jpg" loading="lazy"
                            alt="A milkshake with donunt and ice cream on yelow background">
                    </picture>
                </div>
            </li>
        </ul>
    </div>

</section>