<!--header-hero styles-->
<div class="hero-header">
    <div class="container hero-header__cont">
    
        <div class="hero">
            <div class="hero__left">
                <div class="hero-pre">
                    <h1 class="hero__title">
                        coffee grown with <span class="hero__title--big">passion</span>
                    </h1>
                    <button class="button-header button" type="button" data-modal-buy-open>Buy now</button>
                    <div class="button-container">
                        <button class="button-mobile button" type="button" aria-label="buy-button" data-modal-mobile-buy-open>Buy now</button>
                      </div>
                </div>
                <ul class="hero__list--numbers list">
                    <li class="hero__item--numbers item">
                        <p class="hero__text--numbers">16</p>
                        <span class="hero__text--pre">shops</span>
                    </li>
                    <li class="hero__item--numbers  item">
                        <p class="hero__text--numbers">23</p>
                        <span class="hero__text--sub">coffee storage </span>
                    </li>
                </ul>
            </div>
            <div class="hero-thumb__ice">
                <div class="hero__ice">
                </div>
            </div>
    </div>
</div>
</div>