<!--header-hero styles-->
<div class="hero-header">
    <div class="container hero-header__cont">
    
        <div class="hero">
            <div class="hero__left">
                <div class="hero-pre">
                    <h1 class="hero__title">
                        ice cream made with <span class="hero__title--big">passion</span>
                    </h1>
                    <ul class="hero__list list">
                        <li class="hero__item item">
                            <a href="#products" class="hero__link hero__link--red link">Products</a>
                        </li>
                        <li class="hero__item item">
                            <a href="#about" class="hero__link hero__link--white link">How it’s made?</a>
                        </li>
                    </ul>
                </div>
                <ul class="hero__list--numbers list">
                    <li class="hero__item--numbers item">
                        <p class="hero__text--numbers">16</p>
                        <span class="hero__text--pre">cafes</span>
                    </li>
                    <li class="hero__item--numbers  item">
                        <p class="hero__text--numbers">23</p>
                        <span class="hero__text--sub">food trucks</span>
                    </li>
                </ul>
            </div>
            <div class="hero-thumb__ice">
                <div class="hero__ice">
                    <picture> 
                        <source srcset="./images/hero/hero-ice-desktop@1x.png 1x, ./images/hero/hero-ice-desktop@2x.png 2x" media="(min-width:1200px)"> 

                        <source srcset="./images/hero/hero-ice-tablet@1x.png 1x, ./images/hero/hero-ice-tablet@2x.png 2x" media="(min-width:768px)">
                        
                        <source srcset="./images/hero/hero-ice-mobile@1x.png 1x, ./images/hero/hero-ice-mobile@2x.png 2x" media="(max-width:767px)">
                        
                        <img src="./images/hero/hero-ice-desktop@1x.png" alt="ice">
                    </picture>
                </div>
            </div>
    </div>
</div>
</div>