<div class="backdrop is-hidden" data-modal-location>
    <div class="modal-list">
        <button class="modal-list__close-button" type="button" data-modal-location-close>
            <svg class="modal__close-icon" width="11" height="11" aria-hidden="true">
                <use class="modal-about__image" href="./images/icons/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-inner modal-location">

            <p class="modal-location__text">We Are Here</p>

            <iframe class="modal-location__map"
                title="Our map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9328.50181638148!2d-74.00923749237934!3d40.709377245746595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1660478622109!5m2!1sru!2sua"
                width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>


            <address class="modal-location__address">
                <ul class="modal-location__address-list">
                    
                    <li class="modal-location__address-item">
                        <a class="modal-location__address-link" href="mailto:noreply@envato.com"><span
                                class="modal-location__address-link-span">Mail Us:</span>noreply@envato.com</a>
                    </li>
                    <li class="modal-location__address-item">
                        <a class="modal-location__address-link" href="tel:+610383766284"><span
                                class="modal-location__address-link-span">Call Us:</span>+61(0) 383 766 284</a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
</div>