<div class="backdrop is-hidden" data-modal-buy>
    <div class="modal-mobile-buy">
        <button class="modal-list__close-button" type="button" aria-label="close-button" data-modal-buy-close>
            <svg class="modal__close-icon" width="11" height="11" aria-hidden="true">
                <use href="./images/icons/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-inner modal-buy">
            <p class="modal-buy__text">Happy you are here</p>
            <form class="modal-buy__form-field">
                <label class="modal-buy__label" for="flavours-select">Choose flavour you wish</label>
                <select class="modal-buy__select" id="flavour-select" name="flavour">
                    <option class="modal-buy__option" selected disabled>Choose flavour here</option>
                    <option class="modal-buy__option">ARABICA</option>
                    <option class="modal-buy__option">ROBUSTA</option>
                    <option class="modal-buy__option">LIBERICA</option>
                </select>
                <label class="modal-buy__label" for="size-select">Select Size</label>
                <select class="modal-buy__select" id="size-select" name="size">
                    <option class="modal-buy__option">Extra Small</option>
                    <option class="modal-buy__option">Small</option>
                    <option class="modal-buy__option" selected>Medium</option>
                    <option class="modal-buy__option">Large</option>
                </select>

                <label class="modal-buy__label" for="enter-quantity">Select quantity</label>
                <input class="modal-buy__quantity" type="number" id="enter-quantity" name="amount" />

                <label class="modal-buy__label" for="username-phone-number">
                  Phone
                  <input class="modal-buy__input" type="tel" name="phone_number" id="username-phone-number" placeholder="Enter your phone number"/>
                </label>

                <label class="modal-buy__label" for="username-email">
                    Email
                    <input class="modal-buy__input" type="email" name="email" id="username-email" placeholder="Enter your Email" />
                </label>
                <p class="modal-buy__inner-text">We will call you back<br>right after your order</p>
                <div class="modal-buy--button-centered">
                    <button class="modal-buy__button" type="submit">Order Now</button>
                </div>
            </form>
        </div>
    </div>
</div>