<section class="franchisel-section" id="about-us">
    <div class="franchisel-container container">
        <h2 class="franchisel__title">Team "CRAZY DEVELOPERS 2K$"</h2>
        <div class="franchisel-team">
            <ul class="franchisel-list">
                <li class="franchisel-item">
                    <div class="franchisel-animation">
                        <div class="franchisel__img">
                            <img src="./images/franchisel/Pablo-Escobar.jpg" loading="lazy" alt="men">
                        </div>
                        <div class="franchisel-bgr">
                            <p class="franchisel-bgr__text">A Project Manager is a professional responsible for planning, managing, 
                                and completing projects within defined timeframes and budgets. They form a team, allocate tasks, monitor execution, 
                                solve problems, and ensure effective communication within the team and with stakeholders. 
                                Project Managers are also responsible for resource management, quality control, 
                                and preparing project completion reports.
                            </p>
                        </div>
                    </div>
                    <div class="franchisel-poster">
                        <h3 class="franchisel-poster__title">Pavlo Kandur</h3>
                        <p class="franchisel-poster__text">
                            Project Manager
                        </p>
                    </div>
                </li>
                <li class="franchisel-item">
                    <div class="franchisel-animation">
                        <div class="franchisel__img">
                        <img src="./images/franchisel/Evelina.jpg" loading="lazy" alt="girl">
                        </div>
                        <div class="franchisel-bgr">
                            <p class="franchisel-bgr__text">A Business Analyst is a professional who studies and analyzes an organization's business 
                                processes and data to identify opportunities for improvement in efficiency and strategic decision-making. 
                                They utilize data analysis, modeling, and reporting methods to provide valuable insights and recommendations 
                                to the business for optimizing operations and achieving set goals.</p>
                        </div>
                    </div>
                    <div class="franchisel-poster">
                        <h3 class="franchisel-poster__title">Evelina Verkhola</h3>
                        <p class="franchisel-poster__text">Business Analyst
                        </p>
                    </div>
                </li>
                <li class="franchisel-item">
                <div class="franchisel-animation">
                    <div class="franchisel__img">
                    <img src="./images/franchisel/Andriy.jpg" loading="lazy" alt="men">
                    </div>
                    <div class="franchisel-bgr">
                        <p class="franchisel-bgr__text">A DevOps Engineer is a professional who combines development and operations 
                            (DevOps) to enhance the efficiency and speed of software delivery. 
                            They are responsible for automating development, testing, deployment, 
                            and infrastructure management processes. The DevOps Engineer promotes 
                            collaboration between developers and system administrators to ensure continuous 
                            integration/continuous deployment (CI/CD), stability, and scalability of software products.
                        </div>
                </div>
                <div class="franchisel-poster">
                    <h3 class="franchisel-poster__title">Andriy Oleksiyevets </h3>
                    <p class="franchisel-poster__text">DevOps Engineer</p>
                </div>
                </li>
                <li class="franchisel-item">
            <div class="franchisel-animation">
                <div class="franchisel__img">
                <img src="./images/franchisel/Stanislav.jpg" loading="lazy" alt="men">
                </div>
                <div class="franchisel-bgr">
                    <p class="franchisel-bgr__text">
                        A Frontend Developer is a professional responsible for the design and implementation 
                        of the user interface of websites and applications. They work with HTML, CSS, and JavaScript, 
                        ensuring a high level of interaction and user convenience. The Frontend Developer considers 
                        design and user experience, providing an aesthetic and functional appearance for web products.</p>
                </div>
            </div>
            <div class="franchisel-poster">
                <h3 class="franchisel-poster__title">Stanislav Lebid</h3>
                <p class="franchisel-poster__text">Frontend Developer</p>
            </div>
                </li>
                <li class="franchisel-item">
        <div class="franchisel-animation">
            <div class="franchisel__img">
            <img src="./images/franchisel/Maksym.jpg" loading="lazy" alt="girl">
            </div>
            <div class="franchisel-bgr">
                <p class="franchisel-bgr__text">
                    A Backend Developer is a professional who specializes 
                    in the development and management of the server-side of web applications. 
                    They are responsible for processing data, interacting with databases, and implementing the server-side logic. 
                    A Backend Developer works with programming languages such as Java, Python, or Node.js, 
                    providing the functionality necessary for the proper operation of web applications.</p>
            </div>
        </div>
        <div class="franchisel-poster">
            <h3 class="franchisel-poster__title">Maksym Hovzan</h3>
            <p class="franchisel-poster__text">Backend Developer</p>
        </div>
                </li>
                <li class="franchisel-item">
    <div class="franchisel-animation">
        <div class="franchisel__img">
        <img src="./images/franchisel/Bohdan.jpg" loading="lazy" alt="men">
        </div>
        <div class="franchisel-bgr">
            <p class="franchisel-bgr__text">
                Quality Assurance (QA) plays a crucial role in ensuring high-quality software. 
                QA professionals perform testing to identify and rectify errors, 
                ensuring that the product adheres to established standards and requirements. 
                They utilize both manual and automated testing methods, collaborate with 
                developers to enhance software quality, and ensure the final product meets 
                rigorous standards of reliability and efficiency.
            </p>
        </div>
    </div>
    <div class="franchisel-poster">
        <h3 class="franchisel-poster__title">Bohdan Zhemelko </h3>
        <p class="franchisel-poster__text">Quality Assurance</p>
    </div>
   </div>
</section>