<div class="franchisel franchisel-backdrop is-hidden" data-modal-franchisel>
    <div class="franchisel-modal">
        <div class="franchisel-container">
            <button class="franchisel-button" aria-label="close-button" data-modal-franchisel-close>
                <svg class="franchisel-icon" width="14" height="14">
                    <use href="./images/icons/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <h2 class="franchisel__title">
                Team "CRAZY DEVELOPERS 2K$"
                <svg class="franchisel__title--svg">
                    <use href="./images/icons/sprite.svg#logo"></use>
                </svg>
            </h2>
            <div class="franchisel-team">
                <ul class="franchisel-list">
                    <li class="franchisel-item">
                        <div class="franchisel-animation">
                            <div class="franchisel__img">
                                <img src="./images/franchisel/Andriy.jpg" loading="lazy" alt="men">
                            </div>
                            <div class="franchisel-bgr">
                                <p class="franchisel-bgr__text">In the section of the vikoristan, the network of flex-elements was promoted on social media from the transition to the start page of the major social media. Until the stagnation, the transition from scaling and changing the background color.
                                    Icons to add from the svg sprite.
                                    Phone number of implementation for additional protocols sent.
                                </p>
                            </div>
                        </div>
                        <div class="franchisel-poster">
                            <h3 class="franchisel-poster__title">Likhoshva Andrii</h3>
                            <p class="franchisel-poster__text">
                                Team Lead, Footer
                            </p>
                            <ul class="franchisel-list__messenger">
                                <li class="franchisel-item__messenger">
                                    <a class="franchisel-link__messenger" href="https://github.com/Andriy-Lik">
                                        <svg class="franchisel__svg">
                                            <use href="/src/images/icons/sprite.svg#github"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="franchisel-item__messenger">
                                    <a class="franchisel-link__messenger" href="https://t.me/d0br1y_5hu61n">
                                        <svg class="franchisel__svg">
                                            <use href="/src/images/icons/sprite.svg#telegram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="franchisel-item__messenger">
                                    <a class="franchisel-link__messenger" href="https://www.facebook.com/profile.php?id=100048972963584">
                                        <svg class="franchisel__svg"> 
                                            <use href="/src/images/icons/sprite.svg#facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="franchisel-item">
                        <div class="franchisel-animation">
                            <div class="franchisel__img">
                            <img src="./images/franchisel/Inna.jpg" loading="lazy" alt="girl">
                            </div>
                            <div class="franchisel-bgr">
                                <p class="franchisel-bgr__text">In the Wikoristan section, there is a list of flex-elements from the absolute positions of product pictures.
                                    Before the cards and the donation buttons, the transition from the “scale” scaling and the additional tunnel when hovering.</p>
                            </div>
                        </div>
                        <div class="franchisel-poster">
                            <h3 class="franchisel-poster__title">Isko Inna</h3>
                            <p class="franchisel-poster__text">Scrum Master, Products
                            </p>
                            <ul class="franchisel-list__messenger">
                                <li class="franchisel-item__messenger">
                                    <a class="franchisel-link__messenger" href="https://github.com/InnaIsko">
                                        <svg class="franchisel__svg">
                                            <use href="/src/images/icons/sprite.svg#github"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="franchisel-item__messenger">
                                    <a class="franchisel-link__messenger" href="https://t.me/Inna_Isko">
                                        <svg class="franchisel__svg">
                                            <use href="/src/images/icons/sprite.svg#telegram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="franchisel-item__messenger">
                                    <a class="franchisel-link__messenger" href="https://www.facebook.com/">
                                        <svg class="franchisel__svg"> 
                                            <use href="/src/images/icons/sprite.svg#facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="franchisel-item">
                    <div class="franchisel-animation">
                        <div class="franchisel__img">
                        <img src="./images/franchisel/Bogdan.jpg" loading="lazy" alt="men">
                        </div>
                        <div class="franchisel-bgr">
                            <p class="franchisel-bgr__text">When pressing on the navigation menu, it will scroll smoothly to the required section of the site - from the Java Script add-on script and anchors to the required sections.
                                On the tablet and mobile versions, the menu button is displayed with a navigation block that appears to the beast.Before sending, to the logotype, buttons of the letters of the data, the transition from the “scale” scaling on hover.</p>
                        </div>
                    </div>
                    <div class="franchisel-poster">
                        <h3 class="franchisel-poster__title">Nadebernyy Bohdan</h3>
                        <p class="franchisel-poster__text">Header</p>
                        <ul class="franchisel-list__messenger">
                            <li class="franchisel-item__messenger">
                                <a class="franchisel-link__messenger" href="https://github.com/TryHungury">
                                    <svg class="franchisel__svg">
                                        <use href="/src/images/icons/sprite.svg#github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="franchisel-item__messenger">
                                <a class="franchisel-link__messenger" href="https://t.me/kudoghd">
                                    <svg class="franchisel__svg">
                                        <use href="/src/images/icons/sprite.svg#telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="franchisel-item__messenger">
                                <a class="franchisel-link__messenger" href="https://www.facebook.com/">
                                    <svg class="franchisel__svg"> 
                                        <use href="/src/images/icons/sprite.svg#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </li>
                    <li class="franchisel-item">
                <div class="franchisel-animation">
                    <div class="franchisel__img">
                    <img src="./images/franchisel/Serhii.jpg" loading="lazy" alt="men">
                    </div>
                    <div class="franchisel-bgr">
                        <p class="franchisel-bgr__text">Switching to frosty freezing from scaling "scale" when hovering. When you open that updated side, the animation appears blocks with pictures on the right.
                            Vikonana dodatkova animation of the button with an arrow. Modal franchisel.</p>
                    </div>
                </div>
                <div class="franchisel-poster">
                    <h3 class="franchisel-poster__title">Kaminskyi Sergii</h3>
                    <p class="franchisel-poster__text">Hero</p>
                    <ul class="franchisel-list__messenger">
                        <li class="franchisel-item__messenger">
                            <a class="franchisel-link__messenger" href="https://github.com/KaminskySergey">
                                <svg class="franchisel__svg">
                                    <use href="/src/images/icons/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="franchisel-item__messenger">
                            <a class="franchisel-link__messenger" href="https://t.me/sergey060101">
                                <svg class="franchisel__svg">
                                    <use href="/src/images/icons/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="franchisel-item__messenger">
                            <a class="franchisel-link__messenger" href="https://www.facebook.com/kaminskijstalker/">
                                <svg class="franchisel__svg"> 
                                    <use href="/src/images/icons/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                    </li>
                    <li class="franchisel-item">
            <div class="franchisel-animation">
                <div class="franchisel__img">
                <img src="./images/franchisel/Oksana.jpg" loading="lazy" alt="girl">
                </div>
                <div class="franchisel-bgr">
                    <p class="franchisel-bgr__text">In the section of the selection of content pictures from absolute positions.
                        The background image of the vikonan is responsive and has a wide range of solutions on both desktop and mobile versions.
                        Before the donation button, switch from the “scale” scaling on hover.</p>
                </div>
            </div>
            <div class="franchisel-poster">
                <h3 class="franchisel-poster__title">Mashtaler Oksana</h3>
                <p class="franchisel-poster__text">About</p>
                <ul class="franchisel-list__messenger">
                    <li class="franchisel-item__messenger">
                        <a class="franchisel-link__messenger" href="https://github.com/OksanaMashtaler">
                            <svg class="franchisel__svg">
                                <use href="/src/images/icons/sprite.svg#github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="franchisel-item__messenger">
                        <a class="franchisel-link__messenger" href="https://t.me/Oksana_Mashtaler">
                            <svg class="franchisel__svg">
                                <use href="/src/images/icons/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="franchisel-item__messenger">
                        <a class="franchisel-link__messenger" href="https://www.facebook.com/profile.php?id=100017345083396">
                            <svg class="franchisel__svg"> 
                                <use href="/src/images/icons/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
                    </li>
                    <li class="franchisel-item">
        <div class="franchisel-animation">
            <div class="franchisel__img">
            <img src="./images/franchisel/Anton.jpg" loading="lazy" alt="men">
            </div>
            <div class="franchisel-bgr">
                <p class="franchisel-bgr__text">When pressed on the “Buy now” button, a modal window pops up from the form of the request. Multiple elements form, input, label, select, datalist.
                    By the “Read more” button, you can see information about the picker. Vikoristan has flex-elements, skin with additional shading.
                    Behind the “Our Locations” button, there is a modal window with a location map and you can go to the full site goggle.maps.
                    Wikoristan fixed backdrop dimming position and absolute position of the modal window.
                </p>
            </div>
        </div>
        <div class="franchisel-poster">
            <h3 class="franchisel-poster__title">Kovsh Anton</h3>
            <p class="franchisel-poster__text">Modal</p>
            <ul class="franchisel-list__messenger">
                <li class="franchisel-item__messenger">
                    <a class="franchisel-link__messenger" href="https://github.com/AntonioKBP">
                        <svg class="franchisel__svg">
                            <use href="/src/images/icons/sprite.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li class="franchisel-item__messenger">
                    <a class="franchisel-link__messenger" href="https://t.me/antoniokbp">
                        <svg class="franchisel__svg">
                            <use href="/src/images/icons/sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="franchisel-item__messenger">
                    <a class="franchisel-link__messenger" href="https://www.facebook.com/kovsh.anton">
                        <svg class="franchisel__svg"> 
                            <use href="/src/images/icons/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
                    </li>
                    <li class="franchisel-item">
    <div class="franchisel-animation">
        <div class="franchisel__img">
        <img src="./images/franchisel/Ruslan.jpg" loading="lazy" alt="men">
        </div>
        <div class="franchisel-bgr">
            <p class="franchisel-bgr__text">In the vikoristan section, there is a grid of flex-elements.
                In the quality of the icons, a vector svg image is taken from a vicarious sprite.
                The subheadings are expanded by the text from the addition of the necessary styles.</p>
        </div>
    </div>
    <div class="franchisel-poster">
        <h3 class="franchisel-poster__title">Samigulin Ruslan</h3>
        <p class="franchisel-poster__text">Advantages</p>
        <ul class="franchisel-list__messenger">
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="https://github.com/Shamiltat79">
                    <svg class="franchisel__svg">
                        <use href="/src/images/icons/sprite.svg#github"></use>
                    </svg>
                </a>
            </li>
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="https://t.me/russamigulin">
                    <svg class="franchisel__svg">
                        <use href="/src/images/icons/sprite.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="https://www.facebook.com/samigulin">
                    <svg class="franchisel__svg"> 
                        <use href="/src/images/icons/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
                    </li>
                    <li class="franchisel-item">
    <div class="franchisel-animation">
        <div class="franchisel__img">
        <img src="./images/franchisel/Vlad.jpg" loading="lazy" alt="men">
        </div>
        <div class="franchisel-bgr">
            <p class="franchisel-bgr__text">Animated images of frost near the lower left corner, when pressed on a yak, a modal window is opened to feed customers. The wiki has the tags form, label, textarea. Wikoristan fixed backdrop dimming position and absolute position of the modal window. Vidkrittya that zakrittya vikna zdijsnyuєtsya for help JavaScript. The design of the window echoes the design of the main page.
                Animated “Up” button is fixed, according to which the transition to the post section of the page is shown. A JavaScript script is used to scroll the site.</p>
        </div>
    </div>
    <div class="franchisel-poster">
        <h3 class="franchisel-poster__title">Lisovyi Vladislav</h3>
        <p class="franchisel-poster__text">Animation</p>
        <ul class="franchisel-list__messenger">
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="https://github.com/Lisovyi-Vladyslav">
                    <svg class="franchisel__svg">
                        <use href="/src/images/icons/sprite.svg#github"></use>
                    </svg>
                </a>
            </li>
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="https://t.me/leshiy_druid">
                    <svg class="franchisel__svg">
                        <use href="/src/images/icons/sprite.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="https://www.facebook.com/profile.php?id=100026766344684">
                    <svg class="franchisel__svg"> 
                        <use href="/src/images/icons/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
                    </li>
                    <li class="franchisel-item">
                        <div class="franchisel-animation">
                            <div class="franchisel__img">
                                <img src="./images/franchisel/Olena.jpg" loading="lazy" alt="girl">
                            </div>
                            <div class="franchisel-bgr">
                                <p class="franchisel-bgr__text">In the wiki section, there is a list of flex-elements on the tablet and mobile versions of the site.
                                    Two-coloured background of cracks from vikoristannya color stop. Wikonana is responsive layout to the background.
                                    Go to the buttons in the add data section from the “scale” scaling and change the color on hover. Contact phone numbers and e-mail change the color when hovering.
                                    Contacts vikonanі іz vykoristannymi prototіv psilannya.</p>
                            </div>
                        </div>
                        <div class="franchisel-poster">
                            <h3 class="franchisel-poster__title">Pastushenko Olena</h3>
                            <p class="franchisel-poster__text">Contacts</p>
                            <ul class="franchisel-list__messenger">
                                <li class="franchisel-item__messenger">
                                    <a class="franchisel-link__messenger" href="#">
                                        <svg class="franchisel__svg">
                                            <use href="/src/images/icons/sprite.svg#github"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="franchisel-item__messenger">
                                    <a class="franchisel-link__messenger" href="#">
                                        <svg class="franchisel__svg">
                                            <use href="/src/images/icons/sprite.svg#telegram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="franchisel-item__messenger">
                                    <a class="franchisel-link__messenger" href="#">
                                        <svg class="franchisel__svg"> 
                                            <use href="/src/images/icons/sprite.svg#facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="franchisel-item">
    <div class="franchisel-animation">
        <div class="franchisel__img">
        <img src="/src/images/franchisel/Zhenya.jpg" loading="lazy" alt="men">
        </div>
        <div class="franchisel-bgr">
            <p class="franchisel-bgr__text">In the section there are content pictures from flex-positions.
                Vikonanny two-coloured background from vikoristannya color stop.
                Before adding images, go from scaling «scale» and adding shadows on hover.
                All images are optimized for retina display and in .webp image format.</p>
        </div>
    </div>
    <div class="franchisel-poster">
        <h3 class="franchisel-poster__title">Altunin Yevhen</h3>
        <p class="franchisel-poster__text">Gallery</p>
        <ul class="franchisel-list__messenger">
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="">
                    <svg class="franchisel__svg">
                        <use href="/src/images/icons/sprite.svg#github"></use>
                    </svg>
                </a>
            </li>
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="#">
                    <svg class="franchisel__svg">
                        <use href="/src/images/icons/sprite.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="">
                    <svg class="franchisel__svg"> 
                        <use href="/src/images/icons/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
                    </li>
                    <li class="franchisel-item">
    <div class="franchisel-animation">
        <div class="franchisel__img">
        <img src="./images/franchisel/Maks.jpg" loading="lazy" alt="men">
        </div>
        <div class="franchisel-bgr">
            <p class="franchisel-bgr__text">The section is marked with a gallery-slider, which works constantly when the markers are pressed at the bottom of the gallery.
                The slider works behind the help of JavaScript. For elements of design, vikoristan is pseudo-elements. The view section has a slider with customer reviews. Vikoristany slick-slider, auto-scrolling may occur,
                Created gradient with color-stop. Wikoristan jQuery library.
                </p>
        </div>
    </div>
    <div class="franchisel-poster">
        <h3 class="franchisel-poster__title">Budiukin Maks </h3>
        <p class="franchisel-poster__text">Customer reviews</p>
        <ul class="franchisel-list__messenger">
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="https://github.com/Maks-Budiukin">
                    <svg class="franchisel__svg">
                        <use href="/src/images/icons/sprite.svg#github"></use>
                    </svg>
                </a>
            </li>
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="https://t.me/zlodeyushka">
                    <svg class="franchisel__svg">
                        <use href="/src/images/icons/sprite.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="franchisel-item__messenger">
                <a class="franchisel-link__messenger" href="https://www.facebook.com/">
                    <svg class="franchisel__svg"> 
                        <use href="/src/images/icons/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>