<!--products styles-->
<section class="section" id="products">
  <div class="container">
    <div class="products__title-wrap">
      <span class="title-lable">100% natural</span>
      <h2 class="title">products</h2>
    </div>
    <ul class="products__list list">
      <li class="products__item products__item-cream">
        <h3 class="products__title">Arabica</h3>
        <p class="products__text">
          This is the most common type of coffee, which is grown at higher altitudes. 
          It has a more expressive taste and aroma, as well as less caffeine compared to other varieties.
        </p>
        <button
          type="button"
          class="products__btn products__btn-primary"
          data-modal-open-primary
        >
          <img
            class="js-open-modal"
            srcset="
              ./images/products/arrow-right2.png    1x,
              ./images/products/arrow-right2@2x.png 2x
            "
            src="./images/products/arrow-right2.png"
            alt="arrow"
            width="40"
            height="40"
          />
        </button>
        <div
          class="products__modal products__modal-primary is-hidden-primary"
          data-modal-primary
        >
          <button
            type="button"
            class="products__text products__cross products__cross-primary"
            data-modal-close-primary
          >
            X
          </button>
          <p class="products__text">
            Arabica is characterized by a delicate and refined taste, with notes of fruits and flowers. 
            Compared to other types of coffee, such as Robusta, Arabica has less acidity and less caffeine.
          </p>
        </div>
      </li>
      <li class="products__item products__item-coffee">
        <h3 class="products__title">Robusta</h3>
        <p class="products__text">
          Robusta is characterized by a rougher, worse taste compared to the more delicate and floral taste of Arabica. 
          It has more pronounced notes of dark chocolate and wood, and is thicker and fuller-bodied.
        </p>
        <button
          type="button"
          class="products__btn products__btn-secondary"
          data-modal-open-secondary
        >
          <img
            class="js-open-modal"
            srcset="
              ./images/products/arrow-right2.png    1x,
              ./images/products/arrow-right2@2x.png 2x
            "
            src="./images/products/arrow-right2.png"
            alt="arrow"
            width="40"
            height="40"
          />
        </button>
        <div
          class="products__modal products__modal-secondary is-hidden-secondary"
          data-modal-secondary
        >
          <button
            type="button"
            class="products__text products__cross products__cross-secondary"
            data-modal-close-secondary
          >
            X
          </button>
          <p class="products__text">
            One of the distinctive features of Robusta coffee is its higher caffeine content. 
              Typically, Robusta coffee contains more than 2.2% caffeine.
          </p>
        </div>
      </li>
      <li class="products__item products__item-milkshakes">
        <h3 class="products__title">Liberica</h3>
        <p class="products__text">
          Liberica coffee has a unique flavor that can be difficult to describe in conventional coffee terms. 
          It often has aromas and flavors that differ from traditional coffee varieties.
        </p>
        <button
          type="button"
          class="products__btn products__btn-third"
          data-modal-open-third
        >
          <img
            class="js-open-modal"
            srcset="
              ./images/products/arrow-right2.png    1x,
              ./images/products/arrow-right2@2x.png 2x
            "
            src="./images/products/arrow-right2.png"
            alt="arrow"
            width="40"
            height="40"
          />
        </button>
        <div
          class="products__modal products__modal-third is-hidden-third"
          data-modal-third
        >
          <button
            type="button"
            class="products__text products__cross products__cross-third"
            data-modal-close-third
          >
            X
          </button>
          <p class="products__text">
            Liberica coffee has a unique flavor that can be difficult to describe in conventional coffee terms. 
            It often has aromas and flavors that differ from traditional coffee varieties.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
