/* Oсобисті дані */
.button-header {
    display: none;
    border: none;
    border-radius: 22px;
    width: 160px;
    height: 44px;
    color: var(--colorText-primary);
    background-color: #8E6D3B;
    transform: scale(1);
    &:hover,
    &:focus {
        background-color: var(--bgc-btnHover);
        transform: scale(1.1);
    }
    @include media-min (768px) {
        display: flex;
        cursor: pointer;
    } 
}

